*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 1rem;
  border: 2px solid red;
  min-height: 500px;
  width: 50%;
  position: relative;
}

.square{
  width: 150px;
  height: 150px;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
  position: absolute;
  top: 0;
  right: 0;
}

.green{
  background-color: green;
}

